In [3]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

In [6]:
list1=[12,23,36,41,55,62]
labels=['a','b','c','d','e','f']

In [11]:
pd.Series(list1)    #series unpacks a list and rotates it vertically

0    12
1    23
2    36
3    41
4    55
5    62
dtype: int64

In [13]:
pd.Series(list1,index=labels) #to manually assign the index

a    12
b    23
c    36
d    41
e    55
f    62
dtype: int64

In [15]:
d={1:20,3:43,5:69}
pd.Series(d)     #in series the keys become index but value remains the same

1    20
3    43
5    69
dtype: int64

In [18]:
pd.Series('python')

0    python
dtype: object

In [19]:
#Can you convert pyuthon set to a pandas series?
#Ans:No A set can not be converted to pandas series because a set is unordered.

In [20]:
pd.Series(True)

0    True
dtype: bool

In [23]:
data=pd.Series([10,20,30,40,50,60],index=['Belgium','France','Portugal','England','Brazil','Spain'])

In [25]:
data>50

Belgium     False
France      False
Portugal    False
England     False
Brazil      False
Spain        True
dtype: bool

In [26]:
data[data>50]

Spain    60
dtype: int64

In [29]:
data.dtype

dtype('int64')

In [30]:
data.ndim

1

In [31]:
data.shape

(6,)

In [32]:
id(data)

2438739677632

In [34]:
data.loc['England']   #loc=location #used to read the data

40

In [36]:
data.iloc[3]   #iloc=index location

40

In [37]:
data['England']  #extracting the data

40

In [42]:
data['England']=45.12

In [43]:
data

Belgium     10
France      20
Portugal    30
England     45
Brazil      50
Spain       60
dtype: int64

TypeError: cannot convert the series to <class 'float'>