In [3]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

In [6]:
list1=[12,23,36,41,55,62]
labels=['a','b','c','d','e','f']

In [11]:
pd.Series(list1)    #series unpacks a list and rotates it vertically

0    12
1    23
2    36
3    41
4    55
5    62
dtype: int64

In [13]:
pd.Series(list1,index=labels) #to manually assign the index

a    12
b    23
c    36
d    41
e    55
f    62
dtype: int64

In [15]:
d={1:20,3:43,5:69}
pd.Series(d)     #in series the keys become index but value remains the same

1    20
3    43
5    69
dtype: int64

In [18]:
pd.Series('python')

0    python
dtype: object

In [19]:
#Can you convert pyuthon set to a pandas series?
#Ans:No A set can not be converted to pandas series because a set is unordered.

In [20]:
pd.Series(True)

0    True
dtype: bool

In [123]:
data=pd.Series([10,20,30,40,50,60],index=['Belgium','France','Portugal','England','Brazil','Spain'])

In [124]:
data

Belgium     10
France      20
Portugal    30
England     40
Brazil      50
Spain       60
dtype: int64

In [25]:
data>50

Belgium     False
France      False
Portugal    False
England     False
Brazil      False
Spain        True
dtype: bool

In [26]:
data[data>50]

Spain    60
dtype: int64

In [29]:
data.dtype

dtype('int64')

In [30]:
data.ndim

1

In [31]:
data.shape

(6,)

In [32]:
id(data)

2438739677632

In [34]:
data.loc['England']   #loc=location #used to read the data

40

In [36]:
data.iloc[3]   #iloc=index location

40

In [37]:
data['England']  #extracting the data

40

In [42]:
data['England']=45.12

data

In [45]:
list(enumerate(data))

[(0, 10), (1, 20), (2, 30), (3, 45), (4, 50), (5, 60)]

In [46]:
data.rank()

Belgium     1.0
France      2.0
Portugal    3.0
England     4.0
Brazil      5.0
Spain       6.0
dtype: float64

values which are complete are called valid data pionts

In [126]:
data2=[12,34,56,98]
pd.DataFrame(data2,index=['a','b','c','d'],columns=['Bangalore','asdf','qwer','xcvbn'])  #a data frame is a collection of data which has data proper 
                      #indices and a proper table

ValueError: Shape of passed values is (4, 1), indices imply (4, 4)

In [127]:
data=pd.DataFrame(np.random.randn(4,5),index=['a','b','c','d',],columns=['q','w','e','r','t'])

In [128]:
data

          q         w         e         r         t
a -0.197039  0.391129  1.682720 -1.155853  1.059366
b  0.403531 -0.791645 -0.060069  1.264283 -0.335678
c -1.419531 -2.485032  0.498979 -2.183963  0.835915
d  0.125276  0.597743  0.052581  0.766270  0.700381

In [60]:
data.shape

(4, 5)

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   q       4 non-null      float64
 1   w       4 non-null      float64
 2   e       4 non-null      float64
 3   r       4 non-null      float64
 4   t       4 non-null      float64
dtypes: float64(5)
memory usage: 192.0+ bytes

In [63]:
data.describe()  #works only with numerical columns

              q         w         e         r         t
count  4.000000  4.000000  4.000000  4.000000  4.000000
mean   0.466966  0.238633 -0.218806 -0.641649  0.285343
std    1.370422  0.556579  1.394121  1.128469  0.713021
min   -0.982521 -0.373284 -2.250298 -1.644176 -0.331404
25%   -0.316613 -0.156478 -0.565963 -1.582996 -0.213910
50%    0.302364  0.269391  0.313632 -0.742303  0.114343
75%    1.085943  0.664502  0.660789  0.199045  0.613595
max    2.245656  0.789033  0.747809  0.562184  1.244090

In [64]:
data['q']

a    0.699372
b   -0.982521
c   -0.094643
d    2.245656
Name: q, dtype: float64

In [65]:
data[['q','r']]

          q         r
a  0.699372 -1.644176
b -0.982521 -1.562603
c -0.094643  0.077998
d  2.245656  0.562184

In [67]:
data

          q         w         e         r         t
a  0.699372  0.789033 -0.004518 -1.644176 -0.331404
b -0.982521 -0.084210  0.631782 -1.562603  1.244090
c -0.094643  0.622991  0.747809  0.077998  0.403430
d  2.245656 -0.373284 -2.250298  0.562184 -0.174745

In [68]:
data.loc['a']

q    0.699372
w    0.789033
e   -0.004518
r   -1.644176
t   -0.331404
Name: a, dtype: float64

In [70]:
data.iloc[0:3]

          q         w         e         r         t
a  0.699372  0.789033 -0.004518 -1.644176 -0.331404
b -0.982521 -0.084210  0.631782 -1.562603  1.244090
c -0.094643  0.622991  0.747809  0.077998  0.403430

In [76]:
data.loc['a']

q    0.699372
w    0.789033
e   -0.004518
r   -1.644176
t   -0.331404
Name: a, dtype: float64

In [78]:
data.iloc[0]

q    0.699372
w    0.789033
e   -0.004518
r   -1.644176
t   -0.331404
Name: a, dtype: float64

In [79]:
data.iloc[0:3,1:3]

          w         e
a  0.789033 -0.004518
b -0.084210  0.631782
c  0.622991  0.747809

In [81]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [82]:
data.values

array([[ 0.69937227,  0.78903264, -0.0045181 , -1.64417573, -0.33140406],
       [-0.98252116, -0.08420985,  0.63178175, -1.56260339,  1.24409038],
       [-0.09464327,  0.62299136,  0.74780908,  0.07799825,  0.40342997],
       [ 2.24565574, -0.37328375, -2.25029762,  0.56218447, -0.17474468]])

In [83]:
data.columns

Index(['q', 'w', 'e', 'r', 't'], dtype='object')

In [107]:
new={'corona_positive':[12,19,56,78,np.nan],'corona_negative':[321,561,342,546,np.nan]}

In [109]:
n=pd.DataFrame(new,index=['Karnataka','goa','delhi','kerala','andhra'])

In [110]:
n

           corona_positive  corona_negative
Karnataka             12.0            321.0
goa                   19.0            561.0
delhi                 56.0            342.0
kerala                78.0            546.0
andhra                 NaN              NaN

In [103]:
n.loc['goa']['corona_negative']

561

In [104]:
n.iloc[:,0:1]

           corona_positive
Karnataka               12
goa                     19
delhi                   56
kerala                  78

In [105]:
#How many states have corona posivtive cases less than 20?

In [106]:
n[n['corona_positive']<20]['corona_positive'].count()

2

In [111]:
n.isna()

           corona_positive  corona_negative
Karnataka            False            False
goa                  False            False
delhi                False            False
kerala               False            False
andhra                True             True

In [112]:
n.fillna('python')

          corona_positive corona_negative
Karnataka              12             321
goa                    19             561
delhi                  56             342
kerala                 78             546
andhra             python          python

In [113]:
n

           corona_positive  corona_negative
Karnataka             12.0            321.0
goa                   19.0            561.0
delhi                 56.0            342.0
kerala                78.0            546.0
andhra                 NaN              NaN

In [115]:
n.drop('corona_negative',axis=1,inplace=True) #inplace=delete data permanently

In [116]:
n

           corona_positive
Karnataka             12.0
goa                   19.0
delhi                 56.0
kerala                78.0
andhra                 NaN

In [117]:
n.drop('Karnataka',axis=0,inplace=True)

In [118]:
n

        corona_positive
goa                19.0
delhi              56.0
kerala             78.0
andhra              NaN

In [119]:
n.rank()

        corona_positive
goa                 1.0
delhi               2.0
kerala              3.0
andhra              NaN

In [120]:
n.fillna('python',inplace=True)

In [121]:
n

       corona_positive
goa                 19
delhi               56
kerala              78
andhra          python